Assignment 9.1

#Problem 1
How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [39]:
import pandas as pd
import numpy as np

In [40]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [41]:
df = df.assign(idx_from_0=df.loc[df.X==0])

In [42]:
nul = df['idx_from_0'].isnull()*1

In [43]:
df.assign(idx_from_0=nul.groupby((nul.diff() == -1).cumsum()).cumsum())

   X  idx_from_0
0  7           1
1  2           2
2  0           0
3  3           1
4  4           2
5  2           3
6  5           4
7  0           0
8  3           1
9  4           2

In [44]:
# Problem 2 : Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)

In [45]:
# Problem 3 : Find the sum of the values in s for every Wednesday
s[dti.weekday == 2].sum()

26.52961460369102

In [46]:
# Problem 4 : Average For each calendar month

s.resample('M').mean()

2015-01-31    0.536694
2015-02-28    0.383533
2015-03-31    0.488731
2015-04-30    0.572822
2015-05-31    0.485439
2015-06-30    0.566119
2015-07-31    0.452193
2015-08-31    0.417832
2015-09-30    0.579126
2015-10-31    0.457681
2015-11-30    0.487442
2015-12-31    0.481858
Freq: M, dtype: float64

In [47]:
#Problem 5 : For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-30
2015-05-31   2015-04-27
2015-09-30   2015-06-25
2016-01-31   2015-10-06
dtype: datetime64[ns]